* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-logo {
  width: 120px;
  margin: 35px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex: 1 0 auto;
}

.container {
  width: 85%;
  min-height: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}

.container__form-texto-ingresado,
.container__texto-respuesta {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.container__form-texto-ingresado {
  border-radius: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.container__texto-respuesta {
  border-radius: 25px;
}

.container__ilustracion,
.container__ilustracion__aviso,
.container__mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__ilustracion__imagen {
  display: block;
}

.container__ilustracion__imagen img {
  max-width: 100%;
  max-height: 100%;
}

.container__ilustracion__aviso {
  margin-top: 15px;
  max-width: 336px;
  max-height: 122px;
}

.container__ilustracion__aviso span {
  text-align: center;
}

.container__ilustracion__aviso__titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0a3871;
}

form,
.container__mensaje {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

textarea {
  width: 90%;
  resize: none;
  overflow: hidden;
  border: none;
  margin: 10px;
  font-size: 1.5rem;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0a3871;
}

#texto-respuesta:disabled {
  color: black;
  background: white;
}

.botones {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: #0a3871;
  border-radius: 24px;
  width: 200px;
  height: 50px;
  max-height: 200px;
  min-height: 35px;
  color: white;
}

button:hover {
  background: #0a3871;
  opacity: 0.8;
}

.disabled {
  opacity: 0.6;
}

.noHover {
  pointer-events: none;
}

span {
  display: block;
}

#mensaje-error {
  color: red;
}

.none {
  display: none;
}

.is-active {
  display: block;
}

/* AQUI COMIENZA EL CSS PARA VISTA MOVIL */
@media only screen and (max-width: 600px) {
  .header-logo {
    margin: 20px;
  }

  .container {
    min-height: 100%;
    grid-template-columns: auto;
    column-gap: 0;
    row-gap: 20px;
  }

  .container__form-texto-ingresado {
    min-height: 300px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .container__texto-respuesta {
    min-height: 200px;
  }

  button {
    border-radius: 14px;
  }

  .botones {
    width: 100%;
    height: 30%;
    flex-direction: column;
    row-gap: 10px;
  }

  .container__ilustracion__imagen {
    display: none;
  }
}

/* AQUI COMIENZA EL CSS PARA VISTA TABLET */
@media only screen and (min-width: 601px) {
  .container {
    min-height: 100%;
    grid-template-columns: auto;
    column-gap: 0;
    row-gap: 20px;
  }

  .container__form-texto-ingresado {
    min-height: 650px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .container__texto-respuesta {
    min-height: 150px;
  }

  .container__ilustracion__imagen {
    display: none;
  }
}
