* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-logo {
  width: 120px;
  margin: 35px;
}

.container {
  width: 85%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
}

.container__form-texto-ingresado {
  border-radius: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.container__texto-respuesta {
  border-radius: 25px;
}

.container__ilustracion,
.container__ilustracion__aviso,
.container__mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__ilustracion__aviso {
  margin-top: 15px;
  width: 336px;
  height: 122px;
}

.container__ilustracion__aviso span {
  text-align: center;
}

.container__ilustracion__aviso__titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0a3871;
}

.container__form-texto-ingresado,
.container__texto-respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

textarea {
  width: 90%;
  height: 400px;
  resize: none;
  border: none;
  margin: 10px;
  font-size: 1.5rem;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0a3871;
}

#texto-respuesta:disabled {
  color: black;
  background: white;
}

.botones-encriptacion {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: #0a3871;
  border-radius: 24px;
  width: 200px;
  height: 67px;
  color: white;
}

button:hover {
  background: #0a3871;
  opacity: 0.8;
}

.disabled {
  opacity: 0.6;
}

.noHover {
  pointer-events: none;
}

span {
  display: block;
}

#mensaje-error {
  color: red;
}

.none {
  display: none;
}

.is-active {
  display: block;
}
